


<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="SingUpForm" (ngSubmit)="onsingUp()">
                        <div class="form-group">
                            <label for="userName">UserName*</label>
                            <input type="text" id="userName" formControlName="userName" class="form-control">
                            <span class="text-danger" *ngIf="userName?.invalid && userName?.touched && userName.hasError('required')">
                                UserName is a required filed.
                            </span>
                            <ng-container *ngIf="userName?.invalid && userName?.dirty">
                                <span class="text-danger" *ngIf="userName.hasError('pattern')">
                                    userName is availabe only alphabet.
                                </span>
                                <span class="text-danger" *ngIf="userName.hasError('minlength')">
                                    userName is minLength is 5.
                                </span>
                                <span class="text-danger" *ngIf="userName.hasError('maxlength')">
                                    userName is maxLength is 12.
                                </span>
                                <span class="text-danger" *ngIf="f['userName'].hasError('npSpaceErr')">
                                    {{f['userName'].errors?.['npSpaceErr']}}
                                </span>
                            </ng-container>

                        </div>
                        <div class="form-group">
                            <label for="email">email*</label>
                            <input type="text" id="email" formControlName="email" class="form-control">
                            <span class="text-danger" *ngIf="email?.invalid && email?.touched && email.hasError('required')">
                                Email is a required filed.
                            </span>
                            <span class="text-danger" *ngIf="email?.invalid && email?.dirty && email.hasError('pattern')">
                               invalid Email pattern.
                            </span>
                            <span class="text-danger" *ngIf="email?.invalid && email?.dirty && email.hasError('emailExistErr')">
                                'This email id already in use'
                             </span>
                             <div class="spinner-border" *ngIf="f['email'].pending" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                              <span class="text-success" *ngIf="f['email'].valid">
                                'This email id is avaible.
                             </span>
                        </div>
                        <div class="form-group">
                            <label for="empId">EmpId</label>
                            <input type="text" placeholder="E123" formControlName="empId" class="form-control">
                            <span class="text-danger" *ngIf="empId?.invalid && empId?.touched && empId.hasError('required')">
                                EmpId is a required filed. 'Empld should be start with 1 albhabet and ends with 3 digit'
                            </span>
                            <span class="text-danger" *ngIf="f['empId'].dirty && f['empId'].hasError('invalidEmPid')">
                             Empld should be start with 1 albhabet and ends with 3 digit
                            </span>
                        </div>
                        <div class="form-group">
                            <label [for]="gender" *ngFor="let gender of gendersArr" class="ml-4" >
                                <input type="radio" formControlName="gender" [value]="gender" id="gender">
                                {{gender}}
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="isAddSame">
                                    <input type="checkbox" formControlName="isAddSame" id="isAddSame">
                                    current and Permanent address are same.
                                </label>
                            </div>
                            <div class="col-md-6">
                                <h5> Current Address</h5>
                                <div formGroupName="currentAddress">
                                    <div class="form-group">
                                        <label for="country">Country*</label>
                                        <select class="form-control" id="country" formArrayName="country">
                                            <option *ngFor="let countryObj of countriesArr">
                                                {{countryObj.country}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="state">state*</label>
                                        <input type="text" class="form-control" id="state" formControlName="state">
                                    </div>
                                    <div class="form-group">
                                        <label for="city">City*</label>
                                        <input type="text" class="form-control" id="city" formControlName="city">
                                    </div>
                                    <div class="form-group">
                                        <label for="pincode">pincode*</label>
                                        <input type="text" class="form-control" id="pincode" formControlName="pincode">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h5> Permanent Address</h5>
                                <div formGroupName="permanentAddress">
                                    <div class="form-group">
                                        <label for="country">Country*</label>
                                        <select class="form-control" id="country" formArrayName="country">
                                            <option *ngFor="let countryObj of countriesArr">
                                                {{countryObj.country}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="state">state*</label>
                                        <input type="text" class="form-control" id="state" formControlName="state">
                                    </div>
                                    <div class="form-group">
                                        <label for="city">City*</label>
                                        <input type="text" class="form-control" id="city" formControlName="city">
                                    </div>
                                    <div class="form-group">
                                        <label for="pincode">pincode*</label>
                                        <input type="text" class="form-control" id="pincode" formControlName="pincode">
                                    </div>
                                </div>
                            </div>
                        </div>
                       <div formArrayName="skills">
                        <h5>Add Skills</h5>
                        <div class="row mb-2"
                        *ngFor="let skill of skillsFormArray.controls; let i = index"
                        >
                            <div class="col-9 col-md-9 ">
                                <input type="text"
                                [formControlName]="i"
                                class="form-control">
                            </div>
                            <div class="col-3 col-md-3 pl-mb-0" *ngIf="i>0">
                                <button class="btn btn-success"
                                (click)="onskillRemove(i)"
                                type="button">Remove Skill</button>
                            </div>
                        </div>
                       </div>
                       <div class="row">
                        <div class="col-12">
                            <p class="alert alert-info" *ngIf="skillsFormArray.length>=5">
                                You can add max 5 skills.
                            </p>
                        </div>
                       </div>
                       <div class="row">
                        <div class="col-12 mb-4 text-right">
                            <button class="btn btn-outline-primary btn-sm"
                            (click)="onSkillAdd()"
                            [disabled]="skillsFormArray.length>=5"
                            type="button">Add Skill</button>
                        </div>
                       </div>
                       <div class="form-group">
                        <label for="password">Password</label>
                        <input type="text" class="form-control" formControlName="password">
                        <span class="text-danger" *ngIf="f['password'].touched && f['password'].hasError('required')">
                            password is a required field.
                        </span>
                        <span class="text-danger" *ngIf="f['password'].dirty && f['password'].hasError('pattern')">
                          Invalid  password, password length should be 8 , it shoulld include 1 Uppercase . 1 lowercase 1 number
                          1 char.
                        </span>
                       </div>
                       <div class="form-group">
                        <label for="confirmPassword">confirmPassword</label>
                        <input type="text" class="form-control" formControlName="confirmPassword">
                        <span class="text-danger" *ngIf="f['password'].value !== f['confirmPassword'].value">
                            Password and Corirm Password must be same
                        </span>
                       </div>
                        <button 
                        [disabled]="(f['confirmPassword'].dirty && f['password'].value !== f['confirmPassword'].value)
                        ||SingUpForm.invalid"
                        class="btn btn-outline-primary btn-block btn-sm">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>